.table {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding: 1rem;
}

thead,
tbody tr {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.75rem 0;
  border-bottom: 1px solid #fbfbfb60;
}

th,
td {
  width: 100% !important;
  text-align: start;

  button {
    aspect-ratio: 1/1;
    width: 2.5rem;
  }
}

thead {
  border-bottom: 2px solid #fbfbfb60;
}

@media (min-width: 600px) {
  thead,
  tbody tr {
    flex-direction: row;
    gap: 1rem;
  }

  th:nth-child(1),
  td:nth-child(1) {
    flex-grow: 1;
  }
  th:nth-child(2),
  td:nth-child(2) {
    width: 15%;
  }
  th:nth-child(3),
  td:nth-child(3) {
    width: 15%;
  }
  th:nth-child(4),
  td:nth-child(4) {
    width: 15%;
  }
  th:nth-child(5),
  td:nth-child(5) {
    width: 15%;
    text-align: center;
  }

  .all-sum-tr {
    font-size: 1.25rem;

    td:nth-child(2) {
      text-align: right;
      margin-right: 2rem;
    }
  }
}
