:root {
  width: 90vw;
  max-width: 650px;
  margin: 1.25rem auto;
  padding: 1.25rem;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #fbfbfb;
  background-color: #242424;
  border: 1px solid #fbfbfb;
  border-radius: 0.75rem;
}

html,
body {
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  transition: all 0.3s;
}

button {
  color: #fbfbfb;
  background-color: #0d0d0d;
  padding: 0.63rem;
  border-radius: 0.375rem;
  border: 1px solid transparent;
}

button:hover {
  border: 1px solid rgba(255, 255, 255, 0.592);
  background-color: #191919;
}

button:active {
  opacity: 0.85;
  transform: scale(0.85);
}
