:root {
  max-width: 650px;
  margin: 2.5rem;
  padding: 2.5rem;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #fbfbfb;
  background-color: #242424;
  border: 1px solid #fbfbfb;
  border-radius: 0.75rem;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  transition: all 0.3s;
}

button {
  color: #fbfbfb;
  background-color: #0d0d0d;
  padding: 0.94rem 1.3rem;
  border-radius: 0.375rem;
  border: 1px solid transparent;
}

button:hover {
  border: 1px solid rgba(255, 255, 255, 0.592);
  background-color: #191919;
}

button:active {
  opacity: 0.85;
  transform: scale(0.85);
}

.service-title-card_block {
  padding: 0.5rem 0;
  border-bottom: 1px solid #fbfbfb60;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.cart-button {
  position: relative;
  padding: 0.94rem 2.6rem;
}

.cart-button__text {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.15rem;
  background-color: #14ae5c;
  padding: 1.25rem;
  border-radius: 0.375rem;
  aspect-ratio: 1/1;
}

.cart-button:has(.cart-button__text) {
  .cart-button__icon {
    transform: translateX(-90%);
  }
}

.service-list {
  display: flex;
  flex-direction: column;
  gap: 0.63rem;
}

.service-item {
  display: flex;
  align-items: center;
  gap: 0.63rem;

  .service-item__price {
    border-bottom: 1px solid white;
    padding: 0 0.94rem;
  }

  button {
    margin-left: auto;
  }
}
