.table {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  padding: 1.5rem;

  thead {
    display: flex;
    padding: 0.5rem 0;
    border-bottom: 1px solid #fbfbfb60;
    gap: 1rem;

    th {
      text-align: start;
    }

    th:nth-child(1) {
      flex-grow: 1;
    }
    th:nth-child(2) {
      width: 15%;
    }
    th:nth-child(3) {
      width: 15%;
    }
    th:nth-child(4) {
      width: 15%;
    }
    th:nth-child(5) {
      width: 15%;
    }
  }

  tbody {
    display: flex;
    flex-direction: column;

    tr {
      display: flex;
      padding: 0.5rem 0;
      gap: 1rem;

      td:nth-child(1) {
        flex-grow: 1;
      }
      td:nth-child(2) {
        width: 15%;
      }
      td:nth-child(3) {
        width: 15%;
      }
      td:nth-child(4) {
        width: 15%;
      }
      td:nth-child(5) {
        width: 15%;
      }
    }

    .all-sum-tr {
      border-top: 1px solid #fbfbfb60;
      font-size: 1.25rem;
      font-weight: 700;
    }
  }
}
